.content-wrapper {
  background-color: #89C4F4;
}

.nav-tabs-custom>.tab-content {
  background: #E4F1FE;
}

.nav-tabs {
  background: #E4F1FE;
}

.nav-tabs-custom>.nav-tabs>li.active>a {
  background: #d1e0fe;
}

.nav-tabs-custom>.nav-tabs>li.active {
  border-bottom-color: #3c8dbc;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-top-width: 0;
}

.nav-tabs-custom>.nav-tabs>li.active:hover>a {
  background-color: #d1e0fe;
}

.logo>a {
  color: #FFFFFF;
}

.main-header .logo {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.skin-blue .main-header .navbar {
  background-color: #89C4F4;
}

.contributor-link>span {
  color: #336E7B;
}

.nav>li>a>.fa {
  color: #336E7B;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
  background-color: #89C4F4;
}

.leaflet-popup-content-wrapper {
  background-color: #E4F1FE;
}
